/.terraform
/.terraform.lock.hcl
/file.txt
/terraform.tfstate
/terraform.tfstate.backup
RoleAssignment/.terraform.lock.hcl
AWS/.terraform/providers/registry.terraform.io/hashicorp/aws/4.30.0/windows_amd64/terraform-provider-aws_v4.30.0_x5.exe
RoleAssignment/.terraform/modules/modules.json
RoleAssignment/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.21.1/windows_amd64/terraform-provider-azurerm_v3.21.1_x5.exe
.gitignore
RoleAssignment/.terraform/providers/registry.terraform.io/hashicorp/azuread/2.28.1/windows_amd64/terraform-provider-azuread_v2.28.1_x5.exe
AWS/.terraform.lock.hcl
AWS/terraform.tfstate
AWS/terraform.tfvars
AWS/terraform.tfstate.backup
Policy/assignment.tfplan
Policy/.terraform.tfstate.lock.info
AWS/id_rsa.pub
AWS/provisioner.tf
AWS/terraform.pem
AWS/.terraform/providers/registry.terraform.io/hashicorp/aws/4.45.0/windows_amd64/terraform-provider-aws_v4.45.0_x5.exe
AWS/.terraform/terraform.tfstate
moduled_Sa/.terraform/modules/modules.json
.gitignore
moduled_Sa/terraform.tfstate.backup
moduled_Sa/.terraform.lock.hcl
.gitignore
moduled_Sa/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.36.0/windows_amd64/terraform-provider-azurerm_v3.36.0_x5.exe
moduled_Sa/terraform.tfstate
Terragrunt/AIRS/l1/global/resource_groups/.terraform.lock.hcl
Terragrunt/AIRS/l1/eastus/storage_account/.terraform.lock.hcl
mdc/terraform.tfstate
windowsVMs/.terraform.lock.hcl
windowsVMs/terraform.tfstate
mdc/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/windows_386/terraform-provider-azurerm_v2.99.0_x5.exe
mdc/.terraform.lock.hcl
windowsVMs/terraform.tfstate.backup
windowsVMs/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.0/windows_amd64/terraform-provider-azurerm_v3.0.0_x5.exe
hf/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.61.0/windows_386/terraform-provider-azurerm_v3.61.0_x5.exe
hf/.terraform.lock.hcl


EntraID/.terraform.lock.hcl
EntraID/.terraform/providers/registry.terraform.io/hashicorp/azuread/2.23.0/windows_386/terraform-provider-azuread_v2.23.0_x5.exe
